/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS RESET*/

/*Custom CSS*/


html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    position: relative;
}

h1,
h2,
h3 {
    font-weight: bold;
    /* top left-right bottom*/
    margin: 1rem 0 0.5rem;

}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.375rem;
}

p {
    margin: 1rem 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding: 1rem;
}


/*Header*/
.logo {
    max-width: 150px;
    background-color: #7BC8D3;
}

.main-nav {
    background-color: rgb(255, 255, 255);
}

.masthead {
    background-color: #ffffff;
    padding: 1em 0;
}

/*Main Nav*/
.nav-list a {
    text-decoration: none;
    text-align: center;
    padding: 1em;
    display: block;
    color: #ffffff;
    background-color: #7BC8D3;
}

.nav-list li a:hover {
    background-color: #ffffff;
    color: rgb(34, 31, 31);
}

.nav-list li a.current {
    background-color: #ffffff;
    color: rgb(34, 31, 31);
}

.nav-list li:nth-child(1) {
    background-color: #ffffff;
    padding: 1em;
}

.current {
    background-color: #7BC8D3;
}


.main-nav{
    list-style: none;
}
/*Banner*/
.mobile-banner-img {
    display: block;
}

.banner-img {
    display: none;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255) url("../images/mobile-banner.jpg") no-repeat center fixed;
    background-size: cover;
    height: 400px;
}
.banner-text {
    margin-bottom:200px;
    text-align: center;
    color: white;
    font-family: minion-pro-caption, serif;
    font-weight: 400;
}
/*Font Design*/
h2{
    font-family: ff-cocon-pro,sans-serif;
font-weight: 700;
font-style: italic;
}
p{
    font-family: open-sans,sans-serif;
font-weight: 300;
font-style: normal;
}
.hours{
    font-size: 16px;
    font-family: ff-cocon-pro,sans-serif;
    font-weight: 700;
    font-style: italic;
}
.copy-right{
    font-family: ff-cocon-pro,sans-serif;
    font-weight: 700;
    font-style: italic;
}
/*Button banner*/
.btn {
    background-color: #7BC8D3;
    border: rgb(0, 0, 0);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

.btn:hover {
    background-color: white;
    color: #D97AAB;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

a {
    font-family: ff-cocon-pro, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

/*Products*/
.pict{
    display: grid;
grid-template-areas:
"first second"
"third forth"
"fifth sixth"
"seventh eighth";
grid-template-areas: 150px 150px 150px;
padding: 1.5em;
border: 1px;
}

.pict img{
    width: 70%;
    height:80%;
    object-fit: cover;
}
.intro{
    align-items: center;
}
.pict li{
    text-align: center;
    font-size: 1rem;
}
.pict p{
    text-align:center;
}
.pict{
    list-style: none;
}
.restaraunt{
    display: none;
}
.creator{
    width: 200px;
    padding-left: 20px;
}
h2{
    padding-left: 20px;
}
.welcome{
    font-size: 70px;
}
p{
    font-size: 14px;
}
/* Footer */

.footer-menu{
    padding: 3em 0;
    box-shadow: 0 0px 10px #ccc;
    background-color:#D97AAB;
}
.footer-container {
    display: block;
    width: 70%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-menu ul li{
    display: inline-block;
}
.footer-menu ul li a{
    color: #ffffff
}
p.copy-right{
    font-size: 1em;
    }
.fab{
 padding-top: 0px;
}

a{
    color: white;
}
/*About*/
.about-text{
    text-align:center;
    padding-left:10px;
}

.about-text2{
    text-align:center;
    padding-left:10px;
    font-family: ff-cocon-pro,sans-serif;
font-weight: 700;
font-style: italic;
color:#7BC8D3;
border: black;
}
.text{
    font-family: minion-pro-caption;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
.creators{
    text-align: center;
}



/*Connect*/
.connect{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.connect {
    height: 180px;
    background: grey url("../images/connect.jpg") no-repeat center bottom;
    background-size: cover;
}
.connect {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 2px;
    padding-bottom: 15px;
}

form{max-width: 320px;
    margin: 50px auto;
}
.feedback-input{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 15px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #7BC8D3;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.feedback-input:focus{
    border: 2px solid #7BC8D3;
}
textarea{
    height: 100px;
    line-height: 100%;
    resize: vertical;
   }
   [type="submit"]{
       font-family:Arial, Helvetica, sans-serif;
       width: 100%;
       background:#7BC8D3;
       border-radius: 5px;
       border: 0;
       cursor: pointer;
       color: white;
       font-size: 18px;
       padding-top:10px;
       margin-top: -4px;
       font-weight: 700;
   }
   [type="submit"]:hover { background:#7BC8D3; }

 
.border{
    border: 3px;
    border-style: outset;
    border-color: #D97AAB;
    padding: 1em;
}
.border{
    text-align: center;
    margin: 50px auto;
}

   @media screen and (min-width: 800px) {
       /*Main Nav*/
.nav-list a {
    text-decoration: none;
    text-align: center;
    padding: 1em;
    display: block;
    color: #ffffff;
    background-color: #7BC8D3;
}

.nav-list li a:hover {
    background-color: #ffffff;
    color: rgb(34, 31, 31);
}

.nav-list li a.current {
    background-color: #ffffff;
    color: rgb(34, 31, 31);
}

.nav-list li:nth-child(1) {
    background-color: #ffffff;
    padding: 1em;
}
.banner{
    height: 600px;
}
.current {
    background-color: #7BC8D3;
}

.welcome{
    font-size: 80px;
}
.main-nav{
    list-style: none;
}
.creators{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

h1{
    font-size: 30px;
}
.border{max-width: 400px;
    text-align: center;
    margin: 50px auto;
}
.creator{
    display: block;
    width: 200px;
    padding-left: 150px;
}
.text{
    padding-top: 80px;
    padding-right: 80px;
}
.pict{
    display: grid;
grid-template-areas:
"first second"
"third forth"
"fifth sixth"
"seventh eighth";
grid-template-areas: 150px 150px 150px;
padding: 1.5em;
border: 1px;

}
.pict img{
width: 90%;
height: 70%;
}
   }
@media screen and (min-width: 1200px) {
    .logo {
        max-width: 100px;
    }

    /*Main Nav*/
    .main-nav {
        background-color: #7BC8D3;
    }

    .masthead {
        background-color: #ffffff;
        padding: 1em 0;

    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .nav-list li {
        flex: 1;
    }

    .nav-list li:nth-child(7) {
        flex-basis: 12.5%;
    }

    .nav-list a {
        text-decoration: none;
        color: #ffffff;
        padding: 1.5em 0;
        display: block;
    }

    .nav-list a:hover {
        background-color: #ffffff;
        color: rgb(34, 31, 31);
    }

    .nav-list li img {
        float: left;
    }

    .nav-list li:nth-child(1) {
        background-color: rgb(123, 200, 211);
        padding: 0;
    }


    .banner {
        background: url("../images/banner.jpg") no-repeat center fixed;
        background-size: cover;
        height: 1000px;
    }
    .pict{
        display: grid;
    grid-template-areas:
    "first second third"
    "forth fifth sixth"
    "seventh seventh eighth";
    padding:1.5em;
    border: 1px;
    }
    
    .pict img{
        width: 70%;
        height:60%;
        object-fit: cover;
        
    }
    .welcome{
        font-size: 100px;
    }
    .creator{
        width: 250px;
        padding-left: 40px;
    }
    h2{
        padding-left: 90px;
    }
    
   /*Footer*/
   .find{
       text-align: right;
   }
   .link2{
    text-align: right;
   }
   .restaraunt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
}
.text{
    padding-left: 40px;
}
/*Connect*/
.connect {
    height: 300px;
    background: grey url("../images/connect.jpg") no-repeat center bottom;
    background-size: cover;
}
.connect {
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
    color: white;
}
form{max-width: 420px;
    margin: 50px;
    padding-left: 250px;
}
.feedback-input{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #7BC8D3;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.feedback-input:focus{
    border: 2px solid #7BC8D3;
}
textarea{
    height: 150px;
    line-height: 100%;
    resize: vertical;
   }
   [type="submit"]{
       font-family:Arial, Helvetica, sans-serif;
       width: 100%;
       background:#7BC8D3;
       border-radius: 5px;
       border: 0;
       cursor:pointer;
       color: white;
       font-size: 24px;
       padding-top:10px;
       margin-top: -4px;
       font-weight: 700;
   }
   
   [type="submit"]:hover { background:#7BC8D3; }
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
   .pict i{
       width: 100%;
       margin-top: 200px;
      padding-left: 200px;
   }
   .hours{
       font-size: 25px;
   }
   /*About*/
   .creators{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .creator{
        padding-left: 500px;
    }
    .text{
        padding-top: 100px;
        padding-right: 500px;
    }

    h1{
        font-size: 35px;
    }
    .border{max-width: 350px;
        text-align: center;
        margin: 200px auto;
    }
    p{
        font-size: 20px;
    }
}