/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET*/

/*Custom CSS*/

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
h1,h2,h3{
    font-weight: bold;
    /* top left-right bottom*/
    margin: 1rem 0 0.5rem;

}

h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.375rem;
}
p {
    margin: 1rem 0;
}
.clearfix::after{
    content:"";
    clear:both;
    display: table;
}
.container{
    padding: 1rem;
}

/*Header*/

.logo{
    max-width: 150px;
}
.mobile-logo{
  background-color: #c68d00 url("../images/logo.jpg")no-repeat center bottom;
}
.banner{
    height: 600px;
    background: url("../images/birds.jpg")no-repeat center bottom;
    background-size: cover;

}
.banner{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    left:0;
    right:0;
    padding:15px;
    height:100%;
    background-size: 100%;

}
.banner-text{
    margin:0;
text-align:center;
color:white;

}
h1{
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-family: 'Noto Sans KR', sans-serif;
}
p{
    font-family:'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}
.navigation{
    background-color: rgb(34, 31, 31);
}
.masthead{
    background-color: #ffffff;
    padding: 1em 0;
 
}
.navigation-list a{
    text-decoration: none;
    text-align: center;
    padding:1em;
    display:block;
    color: white;
    background-color: rgb(34, 31, 31);
}

.navigation-list li a:hover{
    background-color: white;
    color:rgb(34, 31, 31);
}
.navigation-list li a.current{
    background-color: white;
    color: rgb(34, 31, 31);
}
.navigation-list li:nth-child(1){
    background-color: white;
    padding: 1em;
}



.btn{
    background-color: white;
    border:rgb(0, 0, 0);
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:200px;
    font-family:'Noto Sans KR', sans-serif;
}
.btn:hover{
background-color:rgb(34, 31, 31);
color:white;
}
p{
    font-family:'Noto Sans KR', sans-serif;
}

.mail{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
  
    position:absolute;
    color: white;
    
}

footer{
    width:100%;
    height: 10px;
}

/*PORTFOLIO*/
.gallery{
    display: grid;
grid-template-areas:
"boy gaming dog"
"color game snow"
"birds1 book flower";
padding:1.5em;
border: 1px;
}

.gallery img{
    width: 90%;
    height:90%;
    object-fit: cover;
}

body{
    background-color:rgb(0, 0, 0);
}



footer{
    background-color: black;
    color: white;
}
    .thumb{
    text-align: right;
    margin-top: 10px;
}

/*ABOUT*/
.about{
    float:right;
    margin: 0px 0px 0px 5px;
}
.text{
    font-size: 8px;
    border: 1px solid white;
    padding: 10px;
    width: 20%;
  margin:30px;
}
/*CONTACT*/
*{
    margin:0;
    padding:0;
}
.body1{
    background: url("../images/boy2.jpg")no-repeat center bottom;
    background-size: cover;
    height:auto;
    font-family:'Times New Roman', Times, serif;
}
.container{
    width:200px;
    height:600px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 40px;
}
.container p{
    text-transform:uppercase;
    text-align:center;
    font-size:45px;
    margin-bottom: 20px;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 5px;
    outline:none;
    transform: all 0.5s ease;
}
.input, .msg .input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius:5px;
    outline: none;
    transition: all 0.5 ease;
}
.login .input{
    width: 48px;
    float: left;
    margin-right: 4%;

}
.login .input:last-child{
    margin-right:0;
}
.msg .input{
    height:80px;
}
.btn1{
width: 250px;
background: #000000;
height: 50px;
text-align: center;
line-height: 50px;
color: #fff;
text-transform: uppercase;
margin: 0 auto;
cursor: pointer;
border-radius: 5px;
font-family:'Noto Sans KR', sans-serif;
}
.btn1:hover{
    background-color:rgb(34, 31, 31);
    color:white;
}
.input:focus,
.msg .area:focus{
    border: 2px solid #000000;
}

h2{
    color:white;
}
p{
    color: white;
    font-size:18px;
}

@media screen and (min-width: 800px){
    html{
        font-size:  18px;
    }
    .logo{
        display: inline-block;
        max-width: 150px;
    }

    /*Main Nav*/
    .navigation-list{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .navigation-list li{
        flex:1;
    }
    
 .navigation-list a{
     text-decoration: none;
     color:white;
     padding: 1.5em 0;
     display:block;
 }
 .navigation-list a:hover{
     background-color:white;
     color: rgb(34, 31, 31);
 }
 .navigation-list li img{
  float: left;
 }
 .navigation-list li:nth-child(1){
  background-color:rgb(34, 31, 31);
  padding:1px;
 }
 .navigation{
     background-color:rgb(34, 31, 31);
 }
 .banner{
    background: url("../images/boy2.jpg")no-repeat center bottom;
}
/*PORTFOLIO*/
.gallery{
    display: grid;
grid-template-areas:
" boy gaming dog"
"color game snow"
" birds1 book flower";
padding:1.5em;
border: 1px;

}
.gallery img{
    width: 90%;
    height:90%;
    object-fit: cover;
}

/*ABOUT*/
.about{
    width:30%;
    height:30%;
     float:right;
     margin: 15px 150px 0px 15px;
 }
 .text{
    display: flex;
    font-size:16px;
    border: 1px solid white;
    padding: 10px;
    width: 50%;
  margin:60px;
}
 /*CONTACT*/
*{
    margin:0;
    padding:0;
}
.body1{
    background: url("../images/boy2.jpg")no-repeat center bottom;
    background-size: cover;
    height:auto;
    font-family:'Times New Roman', Times, serif;
}
.container{
    width:600px;
    height:800px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 40px;
}
.container p{
    text-transform:uppercase;
    text-align:center;
    font-size:45px;
    margin-bottom: 20px;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 5px;
    outline:none;
    transform: all 0.5s ease;
}
.input, .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius:5px;
    outline: none;
    transition: all 0.5 ease;
}
.login .input{
    width: 48px;
    float: left;
    margin-right: 4%;

}
.login .input:last-child{
    margin-right:0;
}
.msg .area{
    height:200px;
}
.btn1{
width: 250px;
background: #000000;
height: 50px;
text-align: center;
line-height: 50px;
color: #fff;
text-transform: uppercase;
margin: 0 auto;
cursor: pointer;
border-radius: 5px;
}
.input:focus,
.msg .area:focus{
    border: 2px solid #000000;
}}